{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-5">Projects
  <a class="text-secondary" href="/projects/create">
    <i class="far fa-plus-square"></i>
  </a>
  </h1>
  <div class="card-deck">
  {% for project in projects %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
      </div>
      <div class="card-footer">
        <a href="/projects/{{ project.id }}">View</a> |
        <a href="/projects/update/{{ project.id }}">Edit</a> |
        <a href="/projects/del/{{ project.id }}">Delete</a>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}