{% extends "layout.html" %}

{% block content %}
  <div>
      <h1>{{body}}</h1>
      <b>Project #:</b> {{ project.id }} <br>
      <b>Project Name:</b> {{ project.name }} <br>
      <b>Project Description:</b> {{ project.description }}<br>
      <b>DB Connection String:</b> {{ project.db_uri }}<hr>
      <h2>Tables</h2>
      <ul>
      {% for table in project.tables %}
        <li>
          <b><a href="/tables/{{ table.id }}">{{ table.name }}</a></b>
        </li>
      {% endfor %}
      </ul>

  </div>
{% endblock %}