{% extends "layout.html" %}

{% block content %}
<div class="container bg-light py-1">
  <h1 class="mt-5"><a href="/projects/{{ table.project.id }}" class="text-secondary">{{ table.project.name }}</a></h1>
  <h5>{{ table.project.description }}</h5>
  <b>DB Connection String:</b> {{ table.project.db_uri }}<br>&nbsp;
  <form action="/gen/{{ table.project.id }}" method="GET">
    <a href="/projects/update/{{ table.project.id }}" class="btn btn-secondary btn-sm" role="button">
    <i class="fas fa-edit"></i> Update</a>&nbsp;&nbsp;
    <a href="/projects/del/{{ table.project.id }}" class="btn btn-secondary btn-sm" role="button">
    <i class="fas fa-trash-alt"></i> Delete</a>&nbsp;&nbsp;
    <button type="submit" class="btn btn-secondary btn-sm">
      <i class="fas fa-cogs"></i> Generate Code
    </button>
  </form>
  <br>
</div>

  <h3 class="mt-5 mb-3">Table Name: {{ table.name }}</h3>
  <b>Table #</b> {{ table.id }}<br>
  <b>Table Name:</b> {{ table.name }}
  <div class="px-2 py-2">
    <a href="/projects/tables/update/{{ table.id }}" class="btn btn-secondary btn-sm" role="button"><i class="fas fa-edit"></i>&nbsp;Update</a>&nbsp;&nbsp;
    <a href="/projects/tables/del/{{ table.id }}" class="btn btn-secondary btn-sm" role="button"><i class="fas fa-trash-alt"></i>&nbsp;Delete</a>
  </div>

  <div class="px-2 py-2">
  {% for rel in table.relationships %}
    {{rel.rel_name}} | {{rel.rel_type}} |{{ rel.child_table }}<br>
  {% endfor %}
  </div>
  <h3 class="mt-5 mb-3">Fields
  <a href="/projects/tables/{{ table.id }}/fields/create"><i class="far fa-plus-square"></i></a>
  </h3>
  <div class="table-responsive card-text">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Action</th>
        <th>Field Name</th>
        <th>Label</th>
        <th>Input Type</th>
        <th>Req'd</th>
        <th>List</th>
        <th>Add</th>
        <th>Edit</th>
        <th>View</th>
        <th>ForeignKey</th>
      </tr>
    </thead>
    <tbody>
    {% for field in table.fields %}
      <tr>
        <td>
          <a class="text-secondary" href="/projects/tables/fields/update/{{ field.id }}"><i class="fas fa-edit"></i></a>
          &nbsp;&nbsp;<a class="text-secondary" href="/projects/tables/fields/del/{{ field.id }}"><i class="fas fa-trash"></i></a>
        </td>
        <td>{{ field.name }}</td>
        <td>{{ field.label }}</td>
        <td>{{ field.input_type }}</td>
        <td>{{ field.required }}</td>
        <td>{{ field.list_page }}</td>
        <td>{{ field.add_page }}</td>
        <td>{{ field.edit_page }}</td>
        <td>{{ field.view_page }}</td>
        <td>{{ field.foreign_key }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock %}