{% extends "layout.html" %}

{% block content %}

<div>
<h1>{{ title }}</h1>

<form action="/users/register" method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.fname.label }} {{ form.fname() }}<br>
    {{ form.lname.label }} {{ form.lname() }}<br>
    {{ form.email.label }} {{ form.email() }}<br>
    {{ form.username.label }} {{ form.username() }}<br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.pass_confirm.label }} {{ form.pass_confirm() }}<br>
    {{ form.submit() }}
</form>

</div>

{% endblock %}