{% extends "layout.html" %}

{% block content %}
  <section class="jumbotron text-center bg-dark2">
    <div class="container">
      <h1 class="jumbotron-heading">Cogen</h1>
      <p class="lead text-neon">Boost your programming productivity.
      Intanstly create a flask web app that allows your user to create, read,
      update and delete record.
      </p>
      <p>
        <a href="/projects/create" class="btn btn-secondary my-2">Create Project</a>
        <a href="#" class="btn btn-secondary my-2">Learn More</a>
      </p>
    </div>
  </section>
{% endblock %}