{% extends "layout.html" %}
{% from "_render_field.html" import render_field %}

{% block content %}
<div class="container">
  <h3 class="mt-5">Update a Field</h3>
  <div class="alert alert-info" role="alert">
    Notes: "id" is automatically added as a primary key of the table.
  </div>
  <form action="/projects/tables/fields/update/{{ field_id }}" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ render_field(form.name) }}
    </div>
    <div class="form-group">
    {{ render_field(form.label) }}
    </div>
    <div class="form-group">
    {{ render_field(form.placeholder) }}
    </div>
    <div class="form-group">
    {{ render_field(form.input_type) }}
    </div>
    <div class="form-group">
    {{ render_field(form.required) }}
    </div>
    <label class="control-label">
      Select the pages where you want this field to show
    </label>
    <div class="form-group">
      <div class="form-check form-check-inline">
      {{ render_field(form.list_page) }}
      </div>
      <div class="form-check form-check-inline">
        {{ render_field(form.add_page) }}
      </div>
      <div class="form-check form-check-inline">
      {{ render_field(form.edit_page) }}
      </div>
      <div class="form-check form-check-inline">
      {{ render_field(form.view_page) }}
      </div>
    </div>
    <div class="form-group">
    {{ render_field(form.default_val) }}
    </div>
    <div class="form-group">
    {{ render_field(form.foreign_key) }}
    </div>
    <div class="form-group">
    {{ render_field(form.kwargs) }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-secondary") }}
    </div>
  </form>
</div>
{% endblock %}