{% extends "layout.html" %}

{% block content %}
  <h3 class="mt-5">Delete Project</h3>
  <div class="alert alert-danger" role="alert">
  You are deleting project id {{ project.id }} ({{ project.name }})
  with one or more tables and fields under this project!
  </div>

  {% if project.tables: %}
        TABLES:<BR>
    {% for table in project.tables %}
        ---table # {{ table.id }} ({{ table.name }})<br>
        {% if table.fields %}
            {% for field in table.fields %}
                ------field # {{ field.id }} ({{ field.name }})<br>
            {% endfor %}
        {% endif %}
    {% endfor %}
  {% endif %}
  </p>

  <form action="/projects/del/{{ project.id }}" method="POST">
    <div class="form-group">
      <input class="btn btn-secondary" type="submit" value="CONFIRM DELETION">
    </div>
  </form>
{% endblock %}