{% extends "layout.html" %}

{% block content %}
<div class="container py-1">
  <h1 class="mt-5">{{ project.name }}</h1>
  <h5 class="text-gold">{{ project.description }}</h5>
  <p class="text-neon">
  <b>Logo:</b> {{ project.logo }}<br>
  <b>Brand:</b> {{ project.brand }}<br>
  <b>DB Connection String:</b> {{ project.db_uri }}
  </p>
  <form action="/gen/{{ project.id }}" method="GET">
    <a href="/projects/update/{{ project.id }}" class="btn btn-secondary btn-sm" role="button">
    <i class="fas fa-edit"></i> Update</a>&nbsp;&nbsp;
    <a href="/projects/del/{{ project.id }}" class="btn btn-secondary btn-sm" role="button">
    <i class="fas fa-trash-alt"></i> Delete</a>&nbsp;&nbsp;
    <button type="submit" class="btn btn-secondary btn-sm">
      <i class="fas fa-cogs"></i> Generate Code
    </button>
  </form>
  <br>

<h3 class="mt-5 mb-3">Tables
  <a class="text-secondary" href="/projects/{{ project.id }}/tables/create">
    <i class="far fa-plus-square"></i>
  </a>
</h3>

  {% for table in project.tables %}
    <div class="card bg-dark mb-5">
      <div class="card-body">
      <h5 class="card-title"><a class="text-secondary" href="/projects/tables/{{ table.id }}">{{ table.name }}</a>&nbsp;&nbsp;
      <a href="/projects/tables/update/{{ table.id }}" class="btn btn-secondary btn-sm" role="button">
      Update</a>
      <a href="/projects/tables/del/{{ table.id }}" class="btn btn-secondary btn-sm" role="button">
      Delete</a>
      <a class="btn btn-secondary btn-sm" href="/projects/tables/{{ table.id }}/fields/create">Add a field</a>
      <a class="btn btn-secondary btn-sm" href="/projects/{{ project.id }}/tables/{{ table.id }}/relationships/create">Relationships</a>
      <button type="button" class="btn btn-secondary btn-sm"
              data-toggle="modal" data-target="#tableModal" data-id="{{ table.id }}"
              data-name="{{ table.name }}" data-action="Rename">Rename Table</button>
      </h5>
        <div class="table-responsive card-text">
          <table class="table table-sm table-dark">
            <thead>
              <tr class="text-gold2">
                <th>Action</th>
                <th>Field Name</th>
                <th>Label</th>
                <th>Input Type</th>
                <th>Req'd</th>
                <th>List</th>
                <th>Add</th>
                <th>Edit</th>
                <th>View</th>
                <th>ForeignKey</th>
              </tr>
            </thead>
            <tbody>
            {% for field in table.fields %}
                <tr class="text-neon2">
                  <td>
                    <a class="text-secondary" href="/projects/tables/fields/update/{{ field.id }}">
                      <i class="fas fa-edit"></i>
                    </a>&nbsp;&nbsp;
                    <a class="text-secondary" href="/projects/tables/fields/del/{{ field.id }}">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                  <td>{{ field.name }}</td>
                  <td>{{ field.label }}</td>
                  <td>{{ field.input_type }}</td>
                  <td>{{ field.required }}</td>
                  <td>{{ field.list_page }}</td>
                  <td>{{ field.add_page }}</td>
                  <td>{{ field.edit_page }}</td>
                  <td>{{ field.view_page }}</td>
                  <td>{{ field.foreign_key }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="modal fade" id="tableModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="table-name" class="col-form-label">Table name</label>
            <input type="text" class="form-control" id="table-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary">Update Table name</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block more_scripts %}
  <script>
    $('#tableModal').on('show.bs.modal', function (event) {
      const button = $(event.relatedTarget) // Button that triggered the modal
      const table_name = button.data('name') // Extract info from data-* attributes
      const action = button.data('action')
      const table_id = button.data('id')

      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.col-form-label').text(`${action} table`)
      modal.find('.modal-body input').val(table_name)
    })
  </script>
{% endblock %}