{% extends "layout.html" %}
{% from "_render_field.html" import render_field %}

{% block content %}
<div class="container">
  <h1 class="mt-5">Update Project</h1>
  <form action="/projects/update/{{ id }}" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ render_field(form.name)}}
    </div>
    <div class="form-group">
      {{ render_field(form.description)}}
    </div>
    <div class="form-group">
      {{ render_field(form.brand)}}
    </div>
    <div class="form-group">
      {{ render_field(form.logo)}}
    </div>
    <div class="form-group">
      {{ render_field(form.db_uri)}}
      <small id="emailHelp" class="form-text text-muted">Example: postgresql://postgres@localhost:5432/testdb</small>
    </div>
    <div class="form-group">
         {{ form.submit(class="btn btn-secondary") }}
     </div>
  </form>
</div>
{% endblock %}