{% extends "layout.html" %}
{% from "_render_field.html" import render_field %}

{% block content %}
<div class="container">
  <div class="mx-5">
      <h1 class="mt-5">Update Project</h1>
      <form action="/projects/update/{{ id }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
          <div class="form-row">
              <div class="form-group col-md-6">
              {{ render_field(form.name) }}
              </div>
              <div class="form-group col-md-6">
              {{ render_field(form.brand) }}
              </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="logo">Logo</label>
            <div class="custom-file">
            {{ render_field(form.logo,class="custom-file-input") }}
            <label class="custom-file-label" for="logo">Choose file...</label>
            </div>
          </div>

          <div class="form-group">
          {{ render_field(form.description) }}
          </div>

          <div class="form-group">
            {{ render_field(form.db_uri) }}
            <small id="emailHelp" class="form-text text-muted">Example: postgresql://postgres@localhost:5432/CogenDB</small>
          </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-secondary") }}
          </div>

      </form>
  </div>
</div>
{% endblock %}