{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Projects
    <a class="text-secondary" href="/projects/create">
      <i class="far fa-plus-square"></i>
    </a>
    </h1>
    <div class="row">
    {% for project in projects %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm bg-dark3">
              <div class="card-body project-info">
                <h5 class="card-title text-gold">{{ project.name }}</h5>
                <p class="card-text">{{ project.description }}</p>
              </div>
              <div class="card-footer">
                  <div class="btn-group">
                    <a href="/projects/{{ project.id }}" class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="/projects/update/{{ project.id }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a href="/projects/del/{{ project.id }}" class="btn btn-sm btn-outline-secondary">Delete</a>
                  </div>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}