{{ '{% extends "layout.html" %}' }}
{{ '{% from "_render_field.html" import render_field %}' }}

{% set tschema = kwargs["tschema"] -%}
{% set create_fields = kwargs["create_fields"] -%}
{% set image_fields = kwargs['image_fields'] -%}
{% if image_fields -%}
{% set enctype = 'enctype="multipart/form-data"' -%}
{% else -%}
{% set enctype = '' -%}
{% endif -%}

{{ '{% block content %}' }}
  <div class="container m-5">
    <h3>{{ '{{ title }}' }}</h3>
    <form action="/{{ kwargs['table'] }}/create" method="POST" {{ enctype }}>
    {{ "{{ form.csrf_token }}" }}
    {%- for field in create_fields %}
    <div class="form-group">
    {% if field in image_fields -%}
      <label class="control-label" for="{{ field }}">{{ field }}</label>
      <div class="custom-file">
      {{ '{{ render_field(form.' ~ field ~ ', class="custom-file-input") }}' }}
      <label class="custom-file-label" for="{{ field }}">Choose file...</label>
      </div>
    {% else %}
      {{ "{{ render_field(form." ~ field ~ ") }}" }}
    {% endif %}
    </div>
    {%- endfor %}
      <div class="form-group">
        <input class="btn btn-info" type="submit" value="Create {{ kwargs['table'].replace("_", " ").title() }}">
      </div>
    </form>
  </div>
{{ '{% endblock %}' }}