{{ '{% extends "layout.html" %}' }}
{% set table = kwargs['table'] -%}
{% set details_fields = kwargs["details_fields"] -%}
{% set tschema = kwargs["tschema"] -%}
{{ '{% block content %}' }}
  <div class="container m-5">
    <h3>{{ '{{ title }}' }}</h3>
      <div class="alert alert-danger" role="alert">
        You are deleting table "{{ '{{ ' ~ table ~ '.name }}' }}"
        {%- for field in details_fields %}
          with one or more fields!
          <b>{{ tschema[field]['label'] }}:</b> {{ '{{ ' ~ table ~ '.' ~ field ~ ' }}' }}<br>
        {%- endfor %}
      </div>
    <form action="/{{ table }}/del/{{ '{{ id }}' }}" method="POST">
      <div class="form-group">
        <input class="btn btn-danger" type="submit" value="CONFIRM DELETION">
      </div>
    </form>

  </div>
{{ '{% endblock %}' }}