{{ '{% extends "layout.html" %}' }}
{% set table = kwargs['table'] -%}
{% set title = table.replace("_", " ").title() -%}
{% set list_fields = kwargs["list_fields"] -%}
{% set tschema = kwargs["tschema"] -%}
{{ '{% block content %}' }}
  <div class="container m-5">
    <h3>{{ '{{ title }}' }}</h3>
    <a class="btn btn-secondary btn-info" href="/{{ table }}/create">Create {{ title }}</a> <br>&nbsp;
      <div class="table-responsive card-text">
      <table class="table table-sm">
        <thead>
        <tr>
          <th>View</th>
          <th>Update</th>
          <th>Delete</th>
          {%- for field in list_fields %}
              <th>{{ tschema[field]['label'] }}</th>
          {%- endfor %}
        </tr>
        </thead>
        <tbody>
        {{ '{% for row in ' ~ table ~ ' %}' }}
        <tr>
          <td><a href="/{{ table }}/{{ '{{ row.id }}' }}">View</a></td>
          <td><a href="/{{ table }}/update/{{ '{{ row.id }}' }}"><i class="fas fa-edit"></i> Update</a></td>
          <td><a href="/{{ table }}/del/{{ '{{ row.id }}' }}">Delete</a></td>
          {%- for field in list_fields %}
              <td>{{ '{{ row.' ~ field ~ ' }}' }}</td>
          {%- endfor %}
        </tr>
        {{ '{% endfor %}' }}
        </tbody>
      </table>
      </div>
  </div>
{{ '{% endblock %}' }}